<body bgcolor="F6F7FB">
  <h1>Topic.io</h1>
  <div class="mainConten">
    <div class="tiles">
      <ng-container *ngFor="let item of boxes">
        <div class="parenTile">
          <ng-container *ngFor="let innerItem of item">
            <div [ngClass]="innerItem.class != '' ? innerItem.class : 'childTile'">{{innerItem.key}}</div>
          </ng-container>
        </div>
  
      </ng-container>
    </div>
    <div class="keyboard">
      <ng-container *ngFor="let item of keyboard">
        <ng-container *ngIf="(item.key!=='ENTER')&&(item.key!=='BACKSPACE')">
          <Button (click)="handleChange(item.key)"  >{{item.key}}</Button>
          
        </ng-container>
        <ng-container *ngIf="item.key==='ENTER'">
          <Button style="width: 70px;" (click)="handleChange(item.key)" >{{item.key}}</Button>
  
        </ng-container>
        <ng-container *ngIf="item.key==='BACKSPACE'">
          <Button style="width: 90px;" (click)="handleChange(item.key)" >{{item.key}}</Button>
  
        </ng-container>      
      </ng-container>
    </div>
  </div>
  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <!DOCTYPE html>
  <html>
  <head>
  <title>Ansiedade</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body class="w3-content" style="max-width:1300px">
  
  <h1>ANSIEDADE</h1>
  <!-- Primeiro Grid: Você sabia/Menu & Sintomas -->
  <div class="w3-row">
    <div class="w3-half w3-black w3-container w3-center" style="height:700px">
      <div class="w3-padding-64">
        <h2>Você Sabia...</h2>
        <p>O Brasil é o país com a maior taxa de pessoas com transtornos de ansiedade no mundo. Segundo estimativas da Organização Mundial da Saúde (OMS) 9,3% dos brasileiros têm algum transtorno de ansiedade </p>
      </div>
      <div class="w3-padding-64">
        <a href="#" class="w3-button w3-black w3-block w3-hover-blue-grey w3-padding-16">Retorne ao Jogo</a>
        <a href="#work" class="w3-button w3-black w3-block w3-hover-teal w3-padding-16">Central de Ajuda</a>
        <a href="#work" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">Sintomas</a>
        <a href="#contact" class="w3-button w3-black w3-block w3-hover-brown w3-padding-16">Como Combater?</a>
      </div>
    </div>
    <div class="w3-half w3-blue-grey w3-container" style="height:700px">
      <div class="w3-padding-64 w3-center">
        <h2>Sintomas</h2>
        <div class="w3-left-align w3-padding-large">
          <p>Os sintomas mais comuns associados a esta doença são:</p>
          <ul>
            <li>Preocupação Excessiva</li>
            <li>Insônia</li>
            <li>Medo Irracional</li>
            <li>Tensão Muscular</li>
            <li>Problemas Digestivos</li>
            <li>Medo de Eventos Sociais</li>
            <li>Sensação de Constrangimento</li>
            <li>Crises de Pânico</li>
            <li>Flashbacks</li>
            <li>Perfeccionismo</li>
            <li>Comportamento Compulsivo</li>
            <li>Ataques de Dúvida</li>
          </ul>
          <br>
          <p>Você se indentifica com estes sintomas? Conhece alguém que possa estar sofrendo desta doença? Você pode obter ajuda!
          </p>
          <ul>
            <li>Selecione a opção Central de Ajuda caso você ou alguém que você conheça está em risco de vida.</li>
            <li>Selecione a opção Como Combater? para aprender mais sobre como você pode combater esta doença</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Segundo Grid: Central de ajuda & Como combater -->
  <div class="w3-row">
    <div class="w3-half w3-light-grey w3-center" style="min-height:800px" id="work">
      <div class="w3-padding-64">
        <h2>Central de Ajuda</h2>
        <p>Sua vida é preciosa. Você é importante e sua contribuição para o mundo tem consequência eterna.</p>
        <p>Se você está em uma situção de risco, contate imediatamente o CVV. Você não está sozinho.</p>
        <br>
        <ul>
          <li>Telefone: Ligue 188</li>
          <li>Chat: <a href="https://www.cvv.org.br/chat/">https://www.cvv.org.br/chat/</a></li> 
        </ul>
      </div>
      <div class="w3-row">
        <div class="w3-half">
        </div>
        <div class="w3-half">
        </div>
      </div>
      <div class="w3-row w3-hide-small">
        <div class="w3-half">
        </div>
        <div class="w3-half">
        </div>
      </div>
  
      <div class="w3-row w3-hide-small">
        <div class="w3-half">
        </div>
        <div class="w3-half">
        </div>
      </div><br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  
    </div>
    <div class="w3-half w3-indigo w3-container" style="min-height:800px">
      <div class="w3-padding-64 w3-center">
        <h2>Como Combater?</h2>
        <p>Aqui podes encontrar as maneiras mais fáceis de combater a <b>Ansiedade</b></p>
        <div class="w3-container w3-responsive">
          <table class="w3-table">
            <tr>
              <th>Maneiras</th>
              <th>Realidades</th>
              <th>Dicas</th>
            </tr>
            <tr class="w3-white">
              <td>Manter uma Rotina</td>
              <td>A organização é a maior inimiga da Ansiedade.</td>
              <td>Procure manter um cronograma ou uma agenda para deixar sua vida mais organizada.</td>
            </tr>
            <tr>
              <td>Invista em Autoconhecimento</td>
              <td>Todos somos diferentes e todos temos habilidades diferentes</td>
              <td>Olhe para si mesmo e aprenda sua própria maneira de reagir e lidar com as coisas.</td>
            </tr>
            <tr class="w3-white">
              <td>Procure entender seus pensamentos e sentimentos</td>
              <td>Entender seus pensamentos e sentimentos proporcionam estabilidade emocional.</td>
              <td>Conversar consigo mesmo é um bom exercício.</td>
            </tr>
            <tr>
              <td>Respiração</td>
              <td>Respire...Expire...</td>
              <td>Tente controlar sua respiração quando a ansiedade bater.</td>
            </tr>
            <tr class="w3-white">
              <td>Não se Exija Tanto</td>
              <td>Você é incrível exatamente como você é</td>
              <td>Aja em prol de você mesmo, nada mais</td>
            </tr>
            <tr class="w3-hide-medium">
              <td>Exercício</td>
              <td>Os exercícios ajudam no controle da ansiedade</td>
              <td>Encontre um exercício que seja prazeroso e pratique-o com frequência</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="w3-container w3-black w3-padding-16">
    <p>Powered by Topic.io</p>
  </footer>
  
  </body>
  </html>